﻿@using System.Linq
@using System.Web
@using System.Web.Mvc
@using System.Web.Mvc.Html
@using System.Web.Optimization
@using SAFE.Domain.Utils
@model SAFE.Domain.Forms.FormEvaluacion
@{
    /**/

    /**/

    ViewBag.Title = "Formulario Evaluación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/bundles/editorcss")
@Scripts.Render("~/bundles/editorjs")
<script type="text/javascript">
    $(document).ready(function () {

        @if (Model.evaluacion?.comuna?.idComuna != null)
        {
            @*@:$("#ddlRegiones").val('@Model.evaluacion.comuna.idRegion.ToString()').change();*@
        }


        $('#tblRevisionesEvaluacion').dataTable();

        @if (Model.evaluacion?.tipoEvaluacion == Enums.tipoEvaluacion.INSTALACIONES)
        {
            @:$('#divInstalaciones').show();
        }



        $(function () {
            $('#txtInformeObservaciones').froalaEditor({
                language: 'es',
                height: 1000,
                charCounterMax: 25000
            });
        });

        //$('#formEvaluacion').on('submit', function (e) {
        //    if ($('#txtInformeObservaciones').froalaEditor('core.isEmpty')) {
        //        mdlMensaje('Error!', 'Debe escribir una evaluación !');
        //        e.preventDefault();
        //        return false;
        //    } else {
        //        console.log($(this).valid());
        //        e.preventDefault();
        //        return false;
        //    }
        //});

        $('#radioTipoEvaluacionInstalaciones').click(function () {
            if ($('#radioTipoEvaluacionInstalaciones').is(':checked')) {
                $('#divInstalaciones').show();
            }
        });

        $('#radioTipoEvaluacionPersonal').click(function () {
            if ($('#radioTipoEvaluacionPersonal').is(':checked')) {
                $('#divInstalaciones').hide();
            }
        });



    });
</script>
<div class="container">
    <h3 class="title">Evaluación en terreno</h3>
    @using (Html.BeginForm("Evaluacion", "Evaluacion", FormMethod.Post, new { @id = "formEvaluacion", @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary("", new { id = "validationSummary", @class = "text-danger summary" }).ToHtmlString()))
        </div>
        @Html.HiddenFor(m => m.empresa.idEmpresa)
        @Html.HiddenFor(m => m.empresa.rut.rut)
        @Html.HiddenFor(m => m.empresa.rut.rutCompleto)
        @Html.HiddenFor(m => m.empresa.idEmpresa, new { @id = "idEmpresa" })
        @Html.HiddenFor(m => m.evaluacion.idEvaluacion, new { @id = "idEvaluacion" })
        <input type="hidden" id="idIngeniero" value="4">
        <input type="hidden" id="idSupervisor" value="3">
        <div class="panel panel-default">
            <div class="panel-heading">Información general</div>
            <div class="alert alert-info">
                <span class="glyphicon glyphicon-info-sign pull-right"></span>
                <b>
                    Definición de campos del formulario:
                </b>
                <p>
                    <ul class="indenta paddingTop">
                        <li><b>Evaluación de seguridad para las personas/instalaciones:</b> Define el tipo de evaluación</li>
                        <li><b>Región:</b> Corresponde a la región donde se está realizando la evaluación ( las empresas pueden tener múltiples instalaciones en distintas regiones).</li>
                        <li><b>Comuna:</b> Comuna donde se realizó el trabajo.</li>
                        <li><b>Técnico encargado:</b> Técnico que realiza la evaluación.</li>
                        <li><b>Instalación a evaluar (solo cuando la evaluación es de tipo instalaciones):</b> Lista instalaciones de la empresa.</li>
                    </ul>
                </p>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <h3>Seleccionar tipo de evaluación a realizar</h3>
                    <hr />
                    <div class="funkyradio">
                        <div class="funkyradio-primary">
                            @Html.RadioButtonFor(m => m.evaluacion.tipoEvaluacion, Enums.tipoEvaluacion.TRABAJADORES, new { @id = "radioTipoEvaluacionPersonal" })
                            @Html.Label("radioTipoEvaluacionPersonal", "Evaluación de seguridad para las personas")
                            @Html.ValidationMessageFor(m => m.evaluacion.tipoEvaluacion, "", new { @class = "text-danger" })
                        </div>
                        <div class="funkyradio-success">
                            @Html.RadioButtonFor(m => m.evaluacion.tipoEvaluacion, Enums.tipoEvaluacion.INSTALACIONES, new { @id = "radioTipoEvaluacionInstalaciones" })
                            @Html.Label("radioTipoEvaluacionInstalaciones", "Evaluación de seguridad de las instalaciones")
                            @Html.ValidationMessageFor(m => m.evaluacion.tipoEvaluacion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.evaluacion.region.idRegion)
                            @Html.DropDownListFor(m => m.evaluacion.region.idRegion, Model._listaRegiones.Select(item => new SelectListItem { Value = item.idRegion.ToString(), Text = item.region.ToString() }), "-- Seleccione --", new { @id = "ddlRegiones", @class = "form-control", @onChange = "actualizarComunas($(this).val(), ddlComunas)" })
                            @Html.ValidationMessageFor(m => m.evaluacion.region.idRegion, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.evaluacion.comuna)
                            @Html.DropDownListFor(m => m.evaluacion.comuna.idComuna, Model._listaComunas.Select(item => new SelectListItem { Value = item.idComuna.ToString(), Text = item.comuna.ToString() }), "-- Seleccione una región --", new { @id = "ddlComunas", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.evaluacion.comuna.idComuna, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.evaluacion.tecnico.idTecnico, "Técnico encargado")
                            @Html.DropDownListFor(m => m.evaluacion.tecnico.idTecnico, Model._listaTecnicos.Select(item => new SelectListItem { Value = item.idTecnico.ToString(), Text = $"{item.rut.rutCompleto} || {item.nombre}  {item.apellidoPaterno} " }), "-- Seleccione --", new { @id = "ddlTecnicos", @class = "form-control" })
                        </div>
                        <div id="divInstalaciones" class="col-md-6" style="display:none">
                            @Html.LabelFor(m => m.evaluacion.instalacion.idInstalacionEmpresa, "Instalación a evaluar")
                            @Html.DropDownListFor(m => m.evaluacion.instalacion.idInstalacionEmpresa, Model.listaInstalacionesEmpresa.Select(item => new SelectListItem { Value = item.idInstalacionEmpresa.ToString(), Text = item.direccion.ToString() }), new { @id = "ddlTecnicos", @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Informe</div>
            <div class="alert alert-info">
                <span class="glyphicon glyphicon-info-sign pull-right"></span>
                <b class="text-center">
                    En este panel se realiza el informe realizado a la empresa, detallando todo lo relacionado a la evaluación.
                </b>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-xs-12 col-md-12">
                        @Html.ValidationMessageFor(m => m.evaluacion.Observaciones, "", new { @class = "text-danger" })
                        @Html.TextAreaFor(m => m.evaluacion.Observaciones, new { @id = "txtInformeObservaciones" })
                    </div>
                </div>
            </div>
        </div>
        if (Model.evaluacion?.revisiones != null)
        {
            <div class="panel panel-default">
                <div class="panel-heading">Revisiones</div>
                <div class="alert alert-info">
                    <span class="glyphicon glyphicon-info-sign pull-right"></span>
                    <b class="text-center">
                        En este panel se detallan las revisiones hechas por los funcionarios de SAFE involucrados en la evaluación.
                    </b>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <h3>Agregar revisión</h3>
                        <div class="col-xs-12 col-md-12">
                            @Html.TextAreaFor(m => m.nuevaRevision.recomendacion, new { @id = "nuevaRevision", @class = "form-control" })
                        </div>
                        <button type="button" id="btnagregarrevision" class="btn btn-success pull-right" onclick="agregarRevision()">agregar revisión</button>
                    </div>
                    <div class="form-group" style="padding-top: 100px">
                        <h3>Revisiones previas</h3>
                        <table class="table table-striped table-hover table-bordered" id="tblRevisionesEvaluacion">
                            <thead>
                                <tr>
                                    <th scope="col">Cargo</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Recomendación</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var _re in Model.evaluacion.revisiones)
                                {
                                    <tr>
                                        <td>
                                            por construír
                                        </td>
                                        <td>
                                            por construírk
                                            por construír
                                        </td>
                                        <td>
                                            @_re.recomendacion
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        @Html.ActionLink("Volver", "Index", "Evaluacion", new { rE = Helper.Encrypt(Model.empresa.rut.rut) }, new { @class = "btn btn-default btn-md pull-left" })
        <input type="submit" style="margin-left: 10px" class="btn btn-primary pull-right" value="Guardar" />

        if (Model?.evaluacion?.idEvaluacion != null)
        {
            @Html.ActionLink("Impresión informe final evaluación", "ImprimirEvaluacion", "Evaluacion", new { rE = Helper.Encrypt(Model.empresa.rut.rut), tE = Helper.Encrypt(Model.evaluacion.tipoEvaluacion), iE = Helper.Encrypt(Model.evaluacion.idEvaluacion) }, new { @class = "btn btn-default pull-right", @onclick = "setTimeout(function(){ closeModal() }, 1000)" })
        }
        <div>
            @*@if (Model.evaluacion != null && Model.evaluacion.idEvaluacion != null && Model.evaluacion.idEvaluacion != 0)
                {
                    @Html.ActionLink("Remitor a técnico", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })
                    @Html.ActionLink("Remitir a Ingeniero", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })
                    @Html.ActionLink("Remitir a Supervisor", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })
                    @Html.ActionLink("Cerrar informe", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })

                }*@
        </div>
    }
</div>
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
