﻿@using SAFE.Domain.Utils
@model SAFE.Domain.Forms.FormEvaluacion
@{
    ViewBag.Title = "Evaluaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $('#tblListadoEvaluaciones').DataTable({
            order: ['4', 'desc']
        });
    });

</script>
<div class="container">
    <h3 class="title">Listado de evaluaciones</h3>
    <div class="alert alert-info">
        <span class="glyphicon glyphicon-info-sign pull-right"></span>
        <b>
            En el siguiente listado se despliegan las evaluaciones con las que cuenta la empresa.
        </b>
        <p>
            Cada registro despliega las siguientes columnas:
            <ul class="indenta paddingTop">
                <li><b>Código evaluación:</b> Corresponde al identificador único de la evaluación realizada.</li>
                <li><b>Encargado actual:</b> Indica quién es el responsable actual de la evaluación.</li>
                <li><b>Tipo de evaluación realizada:</b> Indica el tipo de evaluación, esta púede tanto para personal como para instalaciones de la empresa.</li>
                <li><b>Fecha:</b> Fecha de creación de la evaluación.</li>
                <li><b>Acciones:</b> Acciones disponibles para la evaluación (pueden cambiar según el tipo de cuenta).</li>
            </ul>
        </p>
    </div>
    <table class="table table-striped table-hover table-bordered" id="tblListadoEvaluaciones">
        <thead>
            <tr>
                <th scope="col">Código evaluación</th>
                <th scope="col">Encargado actual</th>
                <th scope="col">Tipo de evaluación realizada</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var _e in Model.listaEvaluaciones)
            {
                <tr>
                    <td>
                        @_e.idEvaluacion
                    </td>
                    <td>
                        @_e.etapa
                    </td>
                    @if (_e.tipoEvaluacion == Enums.tipoEvaluacion.TRABAJADORES)
                    {
                        <td>Trabajadores</td>
                    }
                    else if (_e.tipoEvaluacion == Enums.tipoEvaluacion.INSTALACIONES)
                    {
                        <td>Instalaciones</td>
                    }
                    <td>
                        @_e.fechaEvaluacion
                    </td>
                    <td>
                        @Html.ActionLink("Ver/Editar", "Evaluacion", "Evaluacion", new { rE = Helper.Encrypt(Model.empresa.rut.rut), iTE = Helper.Encrypt(_e.tipoEvaluacion), iE = Helper.Encrypt(_e.idEvaluacion) }, new { @class = "btn btn-default btn-md", @style = "max-width: 100%;width: 100%;" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style="padding-top:10px">
        @Html.ActionLink("Volver", "Index", "Empresa", null, new { @class = "btn btn-default btn-md pull-left" })
        @Html.ActionLink("Agregar nueva evaluación", "Evaluacion", "Evaluacion", new { rE = Helper.Encrypt(Model.empresa.rut.rut) }, new { @class = "btn btn-primary btn-md pull-right" })
    </div>
</div>
