﻿@using System.Web.Mvc
@using System.Web.Mvc.Html

@model SAFE.Domain.Forms.FormSalud
@{
    ViewBag.Title = "AgendaMedica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {

        $('#txtFechaAgenda').datepicker({
            format: "yyyy/mm/dd",
            todayBtn: "linked",
            daysOfWeekHighlighted: "0,6",
            language: "es"
        });
    });
</script>
<div class="body-form">
    <h3 class="title">Agenda médica</h3>
    @using (Html.BeginForm("AgendaMedica", "Salud", FormMethod.Post, new { @id = "formSalud", @role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.empresa.idEmpresa)
        @Html.HiddenFor(m => m.empresa.rut.rut)
        @Html.HiddenFor(m => m.empresa.rut.rutCompleto)
        <div class="panel panel-default">
            <div class="panel-heading">Información general</div>
            <div class="alert alert-info">
                <span class="glyphicon glyphicon-info-sign pull-right"></span>
                <b>
                    En este panel se define cual es la fecha tentativa para la visita y quién es el doctor solicitado
                </b>
                <p>

                </p>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.agendaMedica.fechaAgenda, "Fecha para agendamiento")
                            @Html.TextBoxFor(m => m.agendaMedica.fechaAgenda, new { @id = "txtFechaAgenda", @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.agendaMedica.medico.idMedico, "Médico encargado")
                            @Html.DropDownListFor(m => m.agendaMedica.medico.idMedico, Model._listaMedicos.Select(item => new SelectListItem { Value = item.idMedico.ToString(), Text = string.Format("{0}  {1}  {2}  {3} ", item.rut.rutCompleto, "  ||  ", item.nombre, item.apellidoPaterno) }), "-- Seleccione --", new { @id = "ddlMedicos", @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <input type="submit" class="btn btn-primary pull-right" value="Guardar" />
            @*@if (Model.evaluacion != null && Model.evaluacion.idEvaluacion != null && Model.evaluacion.idEvaluacion != 0)
                {
                    @Html.ActionLink("Remitor a técnico", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })
                    @Html.ActionLink("Remitir a Ingeniero", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })
                    @Html.ActionLink("Remitir a Supervisor", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })
                    @Html.ActionLink("Cerrar informe", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })
                    @Html.ActionLink("Imprimir", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })
                }*@
        </div>
    }
</div>
