﻿@using System.Web.Mvc.Html
@using System.Web.Optimization
@model SAFE.Domain.Forms.FormSalud

@{
    ViewBag.Title = "FichaMedicaTrabajador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="title">Ficha médica trabajador</h3>

    @Html.HiddenFor(m => m.empresa.idEmpresa, new { @id = "idEmpresa" })
    @Html.HiddenFor(m => m.trabajador.idTrabajador, new { @id = "idTrabajador" })
    @Html.HiddenFor(m => m.atencionMedica.idAtencionMedica, new { @id = "idAtencionMedica" })

    <div class="panel panel-default">
        <div class="panel-heading">Trabajador</div>
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-info-sign pull-right"></span>
            <b>
                Información del trabajador
            </b>
            <p>

            </p>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-xs-12 col-md-6">
                    @Html.LabelFor(m => m.trabajador.rut.rutCompleto, "Rut:")
                    @Html.TextBoxFor(m => m.trabajador.rut.rutCompleto, new { @class = "form-control", @disabled = "disabled" })
                </div>
                <div class="col-xs-12 col-md-6">
                    @Html.LabelFor(m => m.trabajador.nombre, "Nombre completo:")
                    @Html.TextBoxFor(m => m.trabajador.nombre, new { @class = "form-control", @disabled = "disabled", @Value = $"{Model.trabajador.nombre} {Model.trabajador.apellidoPaterno} {Model.trabajador.apellidoMaterno}" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-md-4">
                    @Html.LabelFor(m => m.trabajador.direccion, "Dirección:")
                    @Html.TextBoxFor(m => m.trabajador.direccion, new { @class = "form-control", @disabled = "disabled" })
                </div>
                <div class="col-xs-12 col-md-4">
                    @Html.LabelFor(m => m.trabajador.contacto.celular, "Celular:")
                    @Html.TextBoxFor(m => m.trabajador.contacto.celular, new { @class = "form-control", @disabled = "disabled" })
                </div>
                <div class="col-xs-12 col-md-4">
                    @Html.LabelFor(m => m.trabajador.contacto.email, "Email:")
                    @Html.TextBoxFor(m => m.trabajador.contacto.email, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>

    @if (Model.empresa?.idEmpresa != null)
    {
        <div class="panel panel-default">
            <div class="panel-heading">Empresa</div>
            <div class="alert alert-info">
                <span class="glyphicon glyphicon-info-sign pull-right"></span>
                <b>
                    Empresa a la que pertenece actualmente
                </b>
                <p>

                </p>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-xs-12 col-md-6">
                        @Html.LabelFor(m => m.empresa.rut.rutCompleto, "Rut:")
                        @Html.TextBoxFor(m => m.empresa.rut.rutCompleto, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-xs-12 col-md-6">
                        @Html.LabelFor(m => m.empresa.nombre, "Nombre completo:")
                        @Html.TextBoxFor(m => m.empresa.nombre, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-md-4">
                        @Html.LabelFor(m => m.empresa.telefono, "Teléfono fijo:")
                        @Html.TextBoxFor(m => m.empresa.telefono, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-xs-12 col-md-4">
                        @Html.LabelFor(m => m.empresa.direccion, "Dirección:")
                        @Html.TextBoxFor(m => m.empresa.direccion, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-xs-12 col-md-4">
                        @Html.LabelFor(m => m.empresa.rubroEmpresa, "Rubros:")
                        @Html.TextBoxFor(m => m.empresa.rubroEmpresa, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="panel panel-default">
        <div class="panel-heading">Fichas médicas</div>
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-info-sign pull-right"></span>
            <b>
                Lista de fichas médicas trabajador
            </b>
            <p>
                Cada registro despliega las siguientes columnas:
                <ul class="indenta paddingTop">
                    <li><b>Rut:</b> Rut del trabajador.</li>
                    <li><b>Nombre:</b> Nombre del trabajador.</li>
                    <li><b>Cargo:</b> Cargo del trabajador en su empresa.</li>
                    <li><b>Celular:</b> Celular de contacto del trabajador.</li>
                    <li><b>Email:</b> Email de contacto del trabajador.</li>
                    <li><b>Acciones:</b> Acciones disponibles para la evaluación (pueden cambiar según el tipo de cuenta).</li>
                </ul>
            </p>
        </div>
        <div class="panel-body">
            <h3>Agregar ficha</h3>
            <div class="col-md-12">
                <div class="col-xs-12 col-md-12">
                    @Html.TextAreaFor(m => m.nuevaFichaMedica.diagnostico, new { @id = "txtDiagnostico", @class = "form-control" })
                </div>
            </div>
            <button type="button" id="btnagregarrevision" class="btn btn-success pull-right" onclick="agregarFichaMedica()">Agregar ficha médica</button>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover table-bordered" id="tblListadoEmpresas">
                <thead>
                    <tr>
                        <th scope="col">Rut doctor</th>
                        <th scope="col">Nombre doctor</th>
                        <th scope="col">Diagnóstico</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var _fM in Model.trabajador.fichasMedicas)
                    {
                        <tr>
                            <td>
                                @_fM.medico.rut.rutCompleto
                            </td>
                            <td>
                                @_fM.medico.nombre
                            </td>
                            <td>
                                @_fM.diagnostico
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@