﻿@using System.Web.Mvc.Html
@using SAFE.Domain.Utils
@model SAFE.Domain.Forms.FormSalud
@{
    ViewBag.Title = "Ficha Médica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h3 class="title">Atención médica</h3>

    @Html.HiddenFor(m => m.empresa.idEmpresa)
    @Html.HiddenFor(m => m.empresa.rut.rut)
    @Html.HiddenFor(m => m.empresa.rut.rutCompleto)
    @Html.HiddenFor(m => m.empresa.telefono)
    @Html.HiddenFor(m => m.agendaMedica.idAgendaMedica)
    @Html.HiddenFor(m => m.atencionMedica.idAtencionMedica)

    <div class="panel panel-default">
        <div class="panel-heading">Agenda</div>
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-info-sign pull-right"></span>
            <b>
                Información de la agenda registrada.
            </b>
            <p>

            </p>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.agendaMedica.fechaAgenda, "Fecha de agenda")
                    @Html.TextBoxFor(m => m.agendaMedica.fechaAgenda, new { @class = "form-control", @disabled = "disabled" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.agendaMedica.medico.nombre, "Médico encargado")
                    @Html.TextBoxFor(m => m.agendaMedica.medico.nombre, new { @class = "form-control", @disabled = "disabled", @Value = $"{Model.agendaMedica.medico.rut.rutCompleto} || {Model.agendaMedica.medico.nombre} {Model.agendaMedica.medico.apellidoPaterno} {Model.agendaMedica.medico.apellidoMaterno}" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(m => m.agendaMedica.confirmado, "Estado")
                    @Html.TextBox("nombreMedico", null, new { @class = "form-control", @disabled = "disabled", @Value = (Model.agendaMedica.confirmado ? "Confirmado" : "Pendiente") })
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Atención</div>
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-info-sign pull-right"></span>
            <b>
                Información de la atención médica registrada.
            </b>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.atencionMedica.fechaAtencion, "Fecha de atención")
                    @Html.TextBoxFor(m => m.atencionMedica.fechaAtencion, new { @class = "form-control", @disabled = "disabled" })
                </div>
                <div class="col-md-12">
                    @Html.LabelFor(m => m.atencionMedica.recomendaciones, "Recomendación médico")
                    @Html.TextAreaFor(m => m.atencionMedica.recomendaciones, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Trabajadores empresa</div>
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-info-sign pull-right"></span>
            <b>
                En este panel se despliega la lista de trabajadores de la empresa.
            </b>
            <p>
                Cada registro despliega las siguientes columnas:
                <ul class="indenta paddingTop">
                    <li><b>Rut:</b> Rut del trabajador.</li>
                    <li><b>Nombre:</b> Nombre del trabajador.</li>
                    <li><b>Cargo:</b> Cargo del trabajador en su empresa.</li>
                    <li><b>Celular:</b> Celular de contacto del trabajador.</li>
                    <li><b>Email:</b> Email de contacto del trabajador.</li>
                    <li><b>Acciones:</b> Acciones disponibles para la evaluación (pueden cambiar según el tipo de cuenta).</li>
                </ul>
            </p>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover table-bordered" id="tblListadoEmpresas">
                <thead>
                    <tr>
                        <th scope="col">Rut</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Email</th>
                        <th scope="col">Perfil médico</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var _tr in Model.trabajadoresFichaMedica)
                    {
                        <tr>
                            <td>
                                @_tr.rut.rutCompleto
                            </td>
                            <td>
                                @($"{_tr.nombre} {_tr.apellidoPaterno}")
                            </td>
                            <td>
                                @_tr.cargo
                            </td>
                            <td>
                                @_tr.contacto.celular
                            </td>
                            <td>
                                @_tr.contacto.email
                            </td>
                            <td>
                                @*<div><a href="@Url.Action("FichaMedicaTrabajador","Salud", new { rT = Helper.Encrypt(_tr.rut.rut), iE = Helper.Encrypt(Model.empresa.idEmpresa) })">ver perfil</a></div>*@
                                @Html.ActionLink("Ver/Editar", "FichaMedicaTrabajador", "Salud", new { rT = Helper.Encrypt(_tr.rut.rut), iE = Helper.Encrypt(Model.empresa.idEmpresa), iA = Helper.Encrypt(Model.agendaMedica.idAgendaMedica), iAM = Helper.Encrypt(Model.atencionMedica.idAtencionMedica) }, new { @class = "btn btn-default", @style = "width: 100%; z-index: 99999;" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>