﻿@using SAFE.Domain.Utils
@model SAFE.Domain.Forms.FormSalud
@{
    ViewBag.Title = "Salud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $('#tblListadoTrabajadoresEmpresa').DataTable();
        $('#tblListadoAtencionesMedicas').DataTable();
    });
</script>
<div class="container">
    <div class="form-group">
        <h3 class="title">Agendas</h3>
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-info-sign pull-right"></span>
            <b>
                En el siguiente listado se despliegan las agendas que ha realizado la empresa con doctores.
            </b>
            <p>
                Cada registro despliega las siguientes columnas:
                <ul class="indenta paddingTop">
                    <li><b>Código agenda:</b> Código único generado para identificar el agendamiento.</li>
                    <li><b>Fecha de agendamiendo:</b> Fecha tentativa para en la que se espera realizar la visita.</li>
                    <li><b>Médico:</b> Médico citado para visita.</li>
                    <li>
                        <b>Estado:</b> Estado de la visita, pueden ser los siguientes:
                        <ul class="indenta">
                            <li><b>Pendiente de confirmar</b>: Cuando la visita aún no se realiza.</li>
                            <li><b>Confirmada</b>: Cuando fue realizada y confirmada por el supervisor.</li>
                            <li><b>Vencida</b>: Cuando la fecha de la visita es anterior a la fecha de hoy y no fue confirmada.</li>
                        </ul>
                    </li>
                    <li><b>Acciones:</b> Acciones disponibles para el agendamiento (Las opciones disponibles pueden cambiar según el tipo de cuenta).</li>
                </ul>
            </p>
        </div>
        @Html.HiddenFor(x => x.empresa.idEmpresa)
        @Html.HiddenFor(x => x.empresa.rut.rut)
        <table class="table table-striped table-hover table-bordered" id="tblListadoTrabajadoresEmpresa">
            <thead>
                <tr>
                    <th scope="col">Código agenda</th>
                    <th scope="col">Fecha de agendamiento</th>
                    <th scope="col">Médico</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var _aM in Model.agendasMedicasPrevias)
                {
                    <tr>
                        <td>
                            @_aM.idAgendaMedica
                        </td>
                        <td>
                            @_aM.fechaAgenda
                        </td>
                        <td>
                            @($"{_aM.medico.nombre} {_aM.medico.apellidoPaterno} {_aM.medico.apellidoMaterno}")
                        </td>
                        <td>
                            @if (_aM.confirmado)
                            {
                                @: Confirmado
                            }
                            else if ((DateTime.Parse(_aM.fechaAgenda) <= DateTime.Now))
                            {
                                @: Pendiente de confirmar
                            }
                            else
                            {
                                @:Agendamiendo vencido
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Ver", "AgendaMedica", "Salud", new { rE = Helper.Encrypt(Model.empresa.rut.rut), iA = Helper.Encrypt(_aM.idAgendaMedica) }, new { @class = "btn btn-default", @style = "max-width: 30%;width: 100%;" })
                            @if ((DateTime.Parse(_aM.fechaAgenda) <= DateTime.Now) && !_aM.confirmado)
                            {
                                @Html.ActionLink("Generar atención", "VisitaMedica", "Salud", new { rE = Helper.Encrypt(Model.empresa.rut.rut), iA = Helper.Encrypt(_aM.idAgendaMedica) }, new { @class = "btn btn-default", @style = "max-width: 65%;width: 100%;" })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div style="padding-top:10px">
            @Html.ActionLink("Agendar nueva visita", "AgendaMedica", "Salud", new { rE = Helper.Encrypt(Model.empresa.rut.rut) }, new { @class = "btn btn-primary btn-md pull-right" })
        </div>
    </div>
    <div class="form-group" style="padding-top: 5%">
        <h3 class="title">Atenciones médicas</h3>
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-info-sign pull-right"></span>
            <b>
                En el siguiente listado se despliegan las agendas médicas concretadas con los doctores.
            </b>
            <p>
                Cada registro despliega las siguientes columnas:
                <ul class="indenta paddingTop">
                    <li><b>Código agenda:</b> Identifica cual fue el agendamiento origen para la visita.</li>
                    <li><b>Fecha de atención:</b> Indica la fecha en la que finalmente fue hecha la visita médica, para contrastar con la de agendamiento.</li>
                    <li><b>Recomendaciones:</b> Para cada visita, el médico encargado participante realiza sugerencias generales a los trabajadores asistentes.</li>
                    <li><b>Acciones:</b> Acciones disponibles para la visita médica (Las opciones disponibles pueden cambiar según el tipo de cuenta).</li>
                </ul>
            </p>
        </div>
        <table class="table table-striped table-hover table-bordered" id="tblListadoAtencionesMedicas">
            <thead>
                <tr>
                    <th scope="col">Código agenda</th>
                    <th scope="col">Fecha de atención</th>
                    <th scope="col">Recomendaciones</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var _aTM in Model.atencionesMedicasPrevias)
                {
                    <tr>
                        <td>
                            @_aTM.idAgendaMedica
                        </td>
                        <td>
                            @_aTM.fechaAtencion
                        </td>
                        <td>
                            <p>@_aTM.recomendaciones</p>
                        </td>
                        <td>
                            @Html.ActionLink("Ver", "fichaMedica", "Salud", new { iA = Helper.Encrypt(_aTM.idAgendaMedica) }, new { @class = "btn btn-default", @style = "max-width: 100%;width: 100%;" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div style="padding-top:10px">
            @Html.ActionLink("Volver", "Index", "Empresa", null, new { @class = "btn btn-default btn-md pull-left" })
        </div>
    </div>
</div>
