﻿@model SAFE.Domain.Forms.FormSalud
@{
    ViewBag.Title = "VisitaMedica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {

        $('#txtFechaAtencion').datepicker({
            format: "dd/mm/yyyy",
            todayBtn: "linked",
            daysOfWeekHighlighted: "0,6",
            language: "es"
        });
    });
</script>
<div class="body-form">
    <h2>Visita Médica</h2>
    @using (Html.BeginForm("VisitaMedica", "Salud", FormMethod.Post, new { @id = "formSalud", @role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.HiddenFor(m => m.empresa.idEmpresa)
        @Html.HiddenFor(m => m.empresa.rut.rut)
        @Html.HiddenFor(m => m.empresa.rut.rutCompleto)
        @Html.HiddenFor(m => m.agendaMedica.idAgendaMedica)
        @Html.HiddenFor(m => m.atencionMedica.idAtencionMedica)
        <div class="panel panel-default">
            <div class="panel-heading">Visita agendada</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.agendaMedica.fechaAgenda, "Fecha agendada")
                            @Html.TextBoxFor(m => m.agendaMedica.fechaAgenda, new { @id = "txtFechaAgenda", @class = "form-control", @disabled = "disabled" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.agendaMedica.medico.nombre, "Médico encargado")
                            @Html.TextBoxFor(m => m.agendaMedica.medico.nombre, new { @class = "form-control", @disabled = "disabled" })
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.agendaMedica.confirmado, "Estado")
                            @Html.TextBox("nombreMedico", null, new { @class = "form-control", @disabled = "disabled", @Value = (Model.agendaMedica.confirmado ? "Confirmado" : "Pendiente") })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Confirmar atención médica</div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.atencionMedica.fechaAtencion, "Fecha de atención")
                            @Html.TextBoxFor(m => m.atencionMedica.fechaAtencion, new { @id = "txtFechaAtencion", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.atencionMedica.recomendaciones, "Recomendación doctor")
                            @Html.TextAreaFor(m => m.atencionMedica.recomendaciones, new { @class = "form-control", @maxlength = "100" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-primary pull-right" value="Guardar" />
            @*@if (Model.evaluacion != null && Model.evaluacion.idEvaluacion != null && Model.evaluacion.idEvaluacion != 0)
                {
                    @Html.ActionLink("Remitor a técnico", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })
                    @Html.ActionLink("Remitir a Ingeniero", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })
                    @Html.ActionLink("Remitir a Supervisor", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })
                    @Html.ActionLink("Cerrar informe", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })
                    @Html.ActionLink("Imprimir", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })
                }*@
        </div>
    }
</div>
