﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using SAFE.Domain.Utils
@model SAFE.Domain.Forms.FormCapacitacion
@{
                /**/

                ViewBag.Title = "Capacitacion";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

    $(document).ready(function() {


        var dataTableListaTrabajadores = [];

        @for (var i = 0; i < Model._listaTrabajadoresEmpresa?.Count; i++)
        {
            @: dataTableListaTrabajadores.push([null ,'@Model._listaTrabajadoresEmpresa[i].rut.rutCompleto', '@Model._listaTrabajadoresEmpresa[i].cargo', '@Model._listaTrabajadoresEmpresa[i].nombre', '@($"{Model._listaTrabajadoresEmpresa[i].apellidoPaterno} {Model._listaTrabajadoresEmpresa[i].apellidoMaterno}")' ]);
        }

        console.log(dataTableListaTrabajadores);

        var table = $('#tblListadoTrabajadoresEmpresa').DataTable( {
            data: dataTableListaTrabajadores,
            columns: [
                { title: '<th><input type="checkbox" name="select_all" value="1" id="example-select-all"> Seleccionar todos</th>' },
                { title: 'Rut' },
                { title: 'Cargo' },
                { title: 'Nombre' },
                { title: 'Apellidos' },
            ],
            'columnDefs': [{
                'targets': 0,
                'searchable':false,
                'orderable':false,
                'className': 'dt-body-center',
                'render': function (data, type, full, meta){
                    return '<input type="checkbox" name="id[]" value="' + $('<div/>').text(data).html() + '">';
                }
            }]
        });

        $('#example-select-all').on('click', function(){
            // Get all rows with search applied
            var rows = table.rows({ 'search': 'applied' }).nodes();
            // Check/uncheck checkboxes for all rows in the table
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        $('#tblListadoTrabajadoresEmpresa tbody').on('change', 'input[type="checkbox"]', function(){
            // If checkbox is not checked
            if(!this.checked){
                var el = $('#example-select-all').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if(el && el.checked && ('indeterminate' in el)){
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });

        $('#txtFechaInicio').datepicker({
            format: "yyyy/mm/dd",
            todayBtn: "linked",
            daysOfWeekHighlighted: "0,6",
            language: "es"
        });

        $('#txtFechaTermino').datepicker({
            format: "yyyy/mm/dd",
            todayBtn: "linked",
            daysOfWeekHighlighted: "0,6",
            language: "es"
        });

        $("#txtFechaInicio").datepicker("setDate", new Date());

        $('#txtFechaInicio').change(function () {
            $('#txtFechaTermino').datepicker('setStartDate', $("#txtFechaInicio").data('datepicker').getFormattedDate('yyyy/mm/dd'));
        });

        //$('#txtFechaTermino').change(function () {
        //    $('#txtFechaInicio').datepicker('setEndDate', $("#txtFechaTermino").data('datepicker').getFormattedDate('dd-mm-yyyy'));
        //});

    });

</script>

<div class="container">
    <h3 class="title">Capacitación</h3>

    @using (Html.BeginForm("Capacitacion", "Capacitacion", FormMethod.Post, new { @id = "formCapacitacion", @role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.empresa.idEmpresa)
        @Html.HiddenFor(m => m.empresa.rut.rut, new { @id = "rutEmpresa" })
        @Html.HiddenFor(m => m.capacitacion.idCapacitacion, new { @id = "idCapacitacion" })
        @Html.HiddenFor(m => m.empresa.rut.rutCompleto)
        <div class="panel panel-default">
            <div class="panel-heading">Información general</div>
            <div class="alert alert-info">
                <span class="glyphicon glyphicon-info-sign pull-right"></span>
                <b>
                    En este panel se detalla el contexto de la capacitación.
                </b>
                <p>
                    Contando con las siguientes opciones
                    <ul class="indenta paddingTop">
                        <li><b>Asunto:</b> Da el contexto de la capacitación, EJ: tópicos a revisar.</li>
                        <li><b>Fecha de inicio:</b> Indica la fecha de inicio de la capacitación</li>
                        <li><b>Fecha de termino:</b> Indica la fecha de termino de la capacitación.</li>
                        <li><b>Cantidad de asistentes mínima:</b> Cantidad mínima de asistentes requeridos para realizar la capacitación.</li>
                        <li><b>Expositor:</b> Especifica quién dará la capacitación.</li>
                        <li><b>Supervisor:</b> Especifica quién supervisará la correcta realización de la capacitación.</li>
                    </ul>
                </p>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.capacitacion.asunto, new { @class = "" })
                            @Html.TextAreaFor(m => m.capacitacion.asunto, new { @id = "txtAsunto", @class = "form-control", @maxlength = "200" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            @Html.LabelFor(m => m.capacitacion.fechaInicio, new { @class = "" })
                            @Html.TextBoxFor(m => m.capacitacion.fechaInicio, new { @id = "txtFechaInicio", @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(m => m.capacitacion.fechaTermino, new { @class = "" })
                            @Html.TextBoxFor(m => m.capacitacion.fechaTermino, new { @id = "txtFechaTermino", @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(m => m.capacitacion.cupoMinimo, new { @class = "" })
                            @Html.TextBoxFor(m => m.capacitacion.cupoMinimo, new { @id = "", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.capacitacion.expositor.idExpositor, "Expositor")
                            @Html.DropDownListFor(m => m.capacitacion.expositor.idExpositor, Model._listaExpositores.Select(item => new SelectListItem { Value = item.idExpositor.ToString(), Text = $"{item.rut.rutCompleto} || {item.nombre}  {item.apellidoPaterno} " }), new { @id = "ddlTecnicos", @class = "form-control" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.capacitacion.supervisor.idSupervisor, "Supervisor")
                            @Html.DropDownListFor(m => m.capacitacion.supervisor.idSupervisor, Model._listaSupervisores.Select(item => new SelectListItem { Value = item.idSupervisor.ToString(), Text = $"{item.rut.rutCompleto} || {item.nombre}  {item.apellidoPaterno} " }), new { @id = "ddlSupervisores", @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        if (Model.capacitacion?.idCapacitacion != null)
        {
            <div class="panel panel-default">
                <div class="panel-heading">Asistentes capacitación</div>
                <div class="alert alert-info">
                    <span class="glyphicon glyphicon-info-sign pull-right"></span>
                    <b>
                        En este panel se listan los trabajadores de la empresa y es posible seleccionar los asistentes.
                    </b>
                    <p>
                        Para seleccionar un trabajador como asistente, basta con hacer click en el cuadro seleccionable de la primera columna,
                        para seleccionar a todos los trabajadores como asistentes, puede hacer click en el cuadro "Seleccionar todos".
                    </p>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <h3>Lista de trabajadores completa de empresa</h3>
                        <table class="table table-striped table-hover table-bordered" id="tblListadoTrabajadoresEmpresa">
                            @*<thead>
                                    <tr>
                                        <th scope="col">Rut</th>
                                        <th scope="col">Cargo</th>
                                        <th scope="col">Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var _tr in Model._listaTrabajadoresEmpresa)
                                    {
                                        <tr>
                                            <td>
                                                @_tr.rut.rutCompleto
                                            </td>
                                            <td>
                                                @_tr.cargo
                                            </td>
                                            <td>
                                                @($"{_tr.nombre} {_tr.apellidoPaterno} {_tr.apellidoMaterno}")
                                            </td>
                                        </tr>
                                    }
                                </tbody>*@
                        </table>
                    </div>
                </div>
            </div>
        }
        <div>
            @Html.ActionLink("Volver", "Index", "Capacitacion", new { rE = Helper.Encrypt(Model.empresa.rut.rut) }, new { @class = "btn btn-default btn-md pull-left" })
            <input type="submit" class="btn btn-primary pull-right" value="Guardar" />
            @*@if (Model.evaluacion != null && Model.evaluacion.idEvaluacion != null && Model.evaluacion.idEvaluacion != 0)
                {
                    @Html.ActionLink("Remitor a técnico", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })
                    @Html.ActionLink("Remitir a Ingeniero", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })
                    @Html.ActionLink("Remitir a Supervisor", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })
                    @Html.ActionLink("Cerrar informe", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })
                    @Html.ActionLink("Imprimir", "Remitir", "Evaluacion", new { tipoRemision = 1, tipoEvaluacion = Model.evaluacion.tipoEvaluacion, idEvaluacion = Model.evaluacion.idEvaluacion }, new { @class = "btn btn-default btn-md pull-right" })
                }*@
        </div>
    }
</div>
