﻿@using System.Web.Mvc.Html
@using SAFE.Domain.Utils
@model SAFE.Domain.Forms.FormCapacitacion
@{
    ViewBag.Title = "Listado de capacitaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $('#tblListadoEvaluaciones').DataTable();
    });
</script>
<div class="container">
    <h3 class="title">Listado de capacitaciones</h3>
    <div class="alert alert-info">
        <span class="glyphicon glyphicon-info-sign pull-right"></span>
        <b>
            En el siguiente listado se despliegan las capacitaciones con las que cuenta la empresa.
        </b>
        <p>
            Cada registro despliega las siguientes columnas:
            <ul class="indenta paddingTop">
                <li><b>Fecha inicio:</b> Fecha de inicio de la capacitación.</li>
                <li><b>Fecha termino:</b> Fecha de termino de la capacitación.</li>
                <li><b>Asunto capacitación:</b> Asunto de la capacitación, EJ: tópicos de esta.</li>
                <li><b>Expositor:</b> Expositor encargado de dar la capacitación.</li>
                <li><b>Supervisor:</b> Supervisor encargado de la capacitación.</li>
                <li><b>Cupo mínimo:</b> Cantidad de asistentes mínima para dar capacitación.</li>
                <li><b>Acciones:</b> Acciones disponibles para la capacitación (pueden cambiar según el tipo de cuenta).</li>
            </ul>
        </p>
    </div>
    <table class="table table-striped table-hover table-bordered" id="tblListadoCapacitaciones">
        <thead>
            <tr>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Fecha Termino</th>
                <th scope="col">Asunto capacitación</th>
                <th scope="col">Expositor</th>
                <th scope="col">Supervisor</th>
                <th scope="col">Cupo mínimo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var _c in Model.capacitacionesPrevias)
            {
                <tr>
                    <td>
                        @_c.fechaInicio
                    </td>
                    <td>
                        @_c.fechaTermino
                    </td>
                    <td>
                        @_c.asunto
                    </td>
                    <td>
                        @_c.expositor.nombre
                    </td>
                    <td>
                        @_c.supervisor.nombre
                    </td>
                    <td>
                        @_c.cupoMinimo
                    </td>
                    <td>
                        @Html.ActionLink("Ver", "Capacitacion", "Capacitacion", new { rE = Helper.Encrypt(Model.empresa.rut.rut), iC = Helper.Encrypt(_c.idCapacitacion) }, new { @class = "btn btn-default btn-md", @style = "max-width: 100%;width: 100%;" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style="padding-top:10px">
        @Html.ActionLink("Volver", "Index", "Empresa", null, new { @class = "btn btn-default btn-md pull-left" })
        @Html.ActionLink("Crear nueva capacitación", "Capacitacion", "Capacitacion", new { rE = Helper.Encrypt(Model.empresa.rut.rut) }, new { @class = "btn btn-primary btn-md pull-right" })
    </div>
</div>