﻿<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>
                    La empresa de seguridad SAFE es una organización conformada el año 2000, se dedica a prestar servicios
                    de asesoría en prevención de riesgos y salud ocupacional a empresas del sector minero. Sus clientes están
                    distribuidos en el norte y centro del país. En sus 18 años de existencia, ha prestado servicios de excelencia y
                    ha sido reconocida como una de las mejores empresas en prevención de riesgos, por cuanto valora a sus
                    clientes y entrega un trabajo personalizado de calidad.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section1">
    <div class="container">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="servicebox text-center">
                <div class="service-icon">
                    <div class="dm-icon-effect-1" data-effect="slide-left">
                        <a href="#" class=""> <i class="active dm-icon fa fa-bars fa-3x"></i> </a>
                    </div>
                    <div class="servicetitle">
                        <h4>Evaluaciones en terreno</h4>
                        <hr>
                    </div>
                    <p>
                        Disponemos de técnicos que realizan las evaluaciones, bajo un protocolo según el tipo de evaluación, estas pueden ser de seguridad de las personas o de las instalaciones.
                        <br />
                        Luego se elabora un informe en el que se detallan las posibles observaciones.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="servicebox text-center">
                <div class="service-icon">
                    <div class="dm-icon-effect-1" data-effect="slide-bottom">
                        <a href="#" class=""> <i class="active dm-icon fa fa-laptop fa-3x"></i> </a>
                    </div>
                    <div class="servicetitle">
                        <h4>Capacitaciones</h4>
                        <hr>
                    </div>
                    <p>
                        Para entregar el servicio, elaboramos un plan de capacitaciones, las cualesdeben efectuarse durante el año y deben poseer un mínimo de participantes establecido.
                        <br />
                        Adicionalmente se lleva registro de cada participante de estas.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="servicebox text-center">
                <div class="service-icon">
                    <div class="dm-icon-effect-1" data-effect="slide-right">
                        <a href="#" class=""> <i class="active dm-icon fa fa-book fa-3x"></i> </a>
                    </div>
                    <div class="servicetitle">
                        <h4>Salud ocupacional</h4>
                        <hr>
                    </div>
                    <p>
                        Llevamos control de trabajadores que utilizan equipos especiales y están expuestos a riesgos (radiaciones, ruidos y otros factores de alto riesgo).
                        <br />
                        Mantenemos una ficha médica de los trabajadores del cliente y coordina visitas con médicos que efectúan los controles.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>