﻿@using System.Web


<div class="modal fade" id="ValidationModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="ModalLabel">Observaciones</h4>
            </div>
            <div class="modal-body">
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary("", new { id = "validationSummary"}).ToHtmlString()))
                @*@Html.ValidationSummary("", new { id = "validationSummary" })*@
                <span id="mensajeValidacionAux" class="text-danger"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnObservaciones" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>