﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<section class="section1">
    <div class="container clearfix">
        <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
            <div class="notfound">
                <h1 class="big-title">Error de sistema!</h1>
                <h4 class="small-title">
                    Se produjo un error al procesar lo que hacías, por favor intenta más tarde<br>
                </h4>
                <a class="" href="@Url.Action("Index", "Home")">Volver a página de inicio</a>
            </div>
        </div>
    </div>
</section>
