﻿
@{
    ViewBag.Title = "Página no encontrada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section1">
    <div class="container clearfix">
        <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
            <div class="notfound">
                <h1 class="big-title">Página no encontrada!</h1>
                <h4 class="small-title">
                    La página que estás buscando no existe<br>

                </h4>
                <a class="" href="@Url.Action("Index", "Home")">Volver a página de inicio</a>
            </div>
        </div>
    </div>
</section>