﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using System.Web.Optimization
@using SAFE.Models
@model LoginViewModel
@{
    /**/

    ViewBag.Title = "Inicio de sesión";
}

<script>
    $(document).ready(function () {
        validaRut();
        $(function () {
            $('#txtRut').Rut({
                format_on: 'keyup'
            });
        });

    });
</script>
<section class="section1">
    <div class="container clearfix">

        <div class="col-lg-4 col-md-4 col-sm-12"></div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <h4 class="title">
                <span>Acceder</span>
            </h4>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(m => m.Rut, new { @id = "txtRut", @class = "form-control", @placeholder = "11.111.111-k" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Rut, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">Acceder</button>
                </div>
            }
            <!-- end login -->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12"></div>
        <!-- end content -->
    </div>
    <!-- end container -->
</section>
<!-- end section -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
