﻿@model SAFE.Models.RegisterViewModel
@{
                /**/

                ViewBag.Title = "Registrar";
}

<div class="container">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <section class="section1">
        <div class="container clearfix">
            <div class="content col-lg-12 col-md-12 col-sm-12 clearfix">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h4 class="title">
                        <span>¿Por qué trabajar con nosotros?</span>
                    </h4>
                    <p>Texto bonito para convencer</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s..</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry"s standard dummy text ever since the 1500s..</p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h4 class="title">
                        <span>Beneficios</span>
                    </h4>
                    <ul class="check">
                        <li><a href="#">Listado de beneficios inventados</a></li>
                        <li><a href="#">Lorem Ipsum is simply dummy text of the printing</a></li>
                        <li><a href="#">Lorem Ipsum is simply dummy text of the printing</a></li>
                        <li><a href="#">Lorem Ipsum is simply dummy text of the printing</a></li>
                        <li><a href="#">Lorem Ipsum is simply dummy text of the printing</a></li>
                    </ul>
                </div>
                <!-- end login -->

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h4 class="title">
                        <span>Formulario de inscripción empresa</span>
                    </h4>
                    <form id="registerform" method="post" name="registerform" action="">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="campo inventado 1">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="campo inventado 2">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="campo inventado 3">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="campo inventado 4">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="button" value="Registrar">
                        </div>
                    </form>
                </div>
                <!-- end register -->
            </div>
            <!-- end content -->
        </div>
        <!-- end container -->
    </section>
    <!-- end section -->
}
@using (Html.BeginForm("prueba", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        <input type="submit" class="button" value="prueba1">
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
