﻿@using System.Web.Mvc.Html
@using SAFE.Domain.Utils
@model SAFE.Domain.Forms.FormEmpresa
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $('#tblListadoEmpresas').DataTable();
    });
</script>
<div class="container" @*style="width: 1250px !important"*@>
    <h3 class="title">Listado de empresas</h3>
    <div class="alert alert-info">
        <span class="glyphicon glyphicon-info-sign pull-right"></span>
        <b>
            Acá podrá ver el listado de empresas que actualmente figuran como cliente para SAFE.
        </b>
        <p>
            Cada registro despliega las siguientes columnas:
            <ul class="indenta paddingTop">
                <li><b>Rut:</b> Rut de la empresa.</li>
                <li><b>Nombre:</b> Nombre de la empresa.</li>
                <li><b>Dirección:</b> Dirección de la empresa (independiente de sus instalaciones).</li>
                <li><b>Fecha ingreso:</b> Fecha de ingreso de la empresa como cliente.</li>
                <li><b>Rubros:</b> Rubros de la empresa.</li>
                <li><b>Acciones:</b> Lineas de negocio de SAFE para con la empresa.</li>
            </ul>
        </p>
    </div>
    <table class="table table-striped table-hover table-bordered" id="tblListadoEmpresas">
        <thead>
            <tr>
                <th scope="col">Rut</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Fecha ingreso</th>
                <th scope="col">Rubros</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var _e in Model.listaEmpresas)
            {
                <tr>
                    <td class="col-xs-1 col-md-1">@_e.rut.rutCompleto</td>
                    <td class="col-xs-2 col-md-2">@_e.nombre</td>
                    <td class="col-xs-2 col-md-2">@_e.direccion</td>
                    <td class="col-xs-1 col-md-1">@_e.fechaIngreso</td>
                    <td class="col-xs-2 col-md-2">@_e.rubroEmpresa</td>
                    <td class="col-xs-4 col-md-3">
                        @Html.ActionLink("Evaluaciones", "Index", "Evaluacion", new { rE = Helper.Encrypt(_e.rut.rut) }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Capacitaciones", "Index", "Capacitacion", new { rE = Helper.Encrypt(_e.rut.rut) }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Salud", "Index", "Salud", new { rE = Helper.Encrypt(_e.rut.rut) }, new { @class = "btn btn-default" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style="padding-top: 10px">
        @Html.ActionLink("Volver", "Index", "Home", null, new { @class = "btn btn-default btn-md pull-left" })
    </div>
</div>
